/* Reset styles untuk tampilan dasar yang lebih konsisten */
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Container untuk keseluruhan layout */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e8e8e8; /* Warna latar belakang abu-abu muda */
}

/* Bagian form login */
.login {
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff; /* Warna latar belakang form putih */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan halus */
}

/* Judul form login (h1) */
.login h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #7f4799; /* Warna ungu tua untuk judul */
}

/* Garis horizontal form login (hr) */
.login hr {
  border: none;
  border-top: 1px solid #ccc; /* Garis batas abu-abu muda */
  margin: 10px 0;
}

/* Paragraf form login (p) */
.login p {
  text-align: center;
  margin-top: 20px;
  color: #7f4799; /* Warna ungu tua untuk teks */
}

/* Label form login (untuk email dan password) */
.login label {
  display: block;
  margin-bottom: 5px;
  color: #7f4799; /* Warna ungu tua untuk label */
}

/* Input form login (email dan password) */
.login input[type="text"],
.login input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Garis batas abu-abu muda */
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Tombol form login */
.login button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #7f4799; /* Warna ungu tua untuk tombol */
  color: #fff; /* Warna teks putih untuk tombol */
  cursor: pointer;
}

/* Efek hover tombol form login */
.login button[type="submit"]:hover {
  background-color: #673ab2; /* Warna ungu sedikit lebih gelap saat hover */
}

/* Link lupa password form login */
.login a {
  color: #7f4799; /* Warna ungu tua untuk link */
  text-decoration: none; /* Hilangkan garis bawah */
}

/* Efek hover link lupa password form login */
.login a:hover {
  color: #673ab2; /* Warna ungu sedikit lebih gelap saat hover */
}

/* Bagian gambar di sebelah kanan */
.right {
  flex: 1; /* Mengambil sisa space di dalam container */
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

/* Gambar form login */
.right img {
  width: 100%;
  max-width: 300px; /* Set lebar maksimum untuk tampilan responsif */
  border-radius: 10px; /* Sudut membulat untuk gambar */
}
